.eye {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: skyblue;
  position: relative;
  top: 0.2rem;
}

.leftEye .pupil {
  /* position: relative; */
  left: 0.1rem;
}

.rightEye .pupil {
  right: 0.1rem;
}
