.noseCircle {
  height: 30px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: calc(50% - 0.75rem);
  border: 2px solid brown;
  border-color: transparent transparent brown brown;
  border-radius: 0 10px 10px;
  transform: rotate(9deg);
}
